@media only screen and (width <=  600px){
    .site-main{
        margin: 0 ;
    }
    body{
        margin: 0;
        width: auto;
        max-width: 600px;
    }
    .site-navigation{
        display: none;
    }
    .site-form, .site-blog-container{
        margin: 0;
    }
    .entry-header{
        background-position: center;
        
    }
    .site-logos-container{
        min-width: auto;
        display: flex;
        flex-wrap: wrap;
        

    }
    .site-logo{
        flex: 1 0 50%;
    }
    .site-logo:not(:last-child){
        margin:auto
    }
    
    .site-information-image{
        display: none;
    }
    .site-information-text{
        flex: 1 0 100%;
        text-align: center;
    }
    .entry-description{
        width: auto;
        padding-left: 3em;
        padding-right: 3em ;
        
    }
    .site-form-container form p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-form-container form input{
        width: 100%;
    }
    .site-form-container button{
        width: auto;
        margin: 0;
        left: 35%;
        right: 30%;
        position: relative;


    }
    form{
        text-align: center;
    }
    .site-form .entry-title{
        font-size: small;
    }
    .site-posts{
        display: flex;
        flex-direction: column;
        padding-left: 4em;
        padding-right: 4em ;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button{
        max-width: 10em;
    }

}