*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    height: 60vw;
}
section{
    display: flex;
    justify-content: center;
    gap: 1em;
}

div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 0 0 5em;
    overflow: hidden;
    border-radius: 0.5em;
    height: 20em;
    transition: 1s;
}
div:hover{

    flex: 0 0 30em;
}


